# Node
node_modules/
npm-debug.log
yarn-error.log

# Python
venv/
python_rag/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
*.pkl

# Env
.env
.env.local

# Cache
cache_falso.index/
dados/
*.cache

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Cypress
cypress/videos/
cypress/screenshots/